html, body {
    margin: 0;
    padding: 0;
    background-image: url("jumbotron.JPG");
    }
/*navbar styling*/
.navbar {
    margin-bottom: 0;
    background-color: #e8ecef;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-toggle{
    background-color: transparent;
    color: #000000 !important;
}

.navbar-nav li a:hover{
    color: #fff !important;
    background-color: #000000!important;
    transition: 0.5s ease-in-out;

}

.navbar-nav li.active a{
     color: #fff !important;
    background-color: #000000!important;
    transition: 0.5s ease-in-out;
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

#parallax{ 
    /* The image used */
    background-image: url("parallax.jpeg");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover1{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.discover1 .button{
    border:1px solid aliceblue;
    background: transparent;
    color: aliceblue;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
    transition: 0.09s ease-in-out;
}

.discover1 .button:hover{
     border:1px solid aliceblue;
     background: aliceblue;
     color: black;
     cursor: pointer;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
}


#parallax2{ 
    /* The image used */
    background-image: url("parallax2.png");

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.discover2{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.discover2 .button{
    border:1px solid aliceblue;
    background: transparent;
    color: aliceblue;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
    transition: 0.09s ease-in-out;
}

.discover2 .button:hover{
     border:1px solid aliceblue;
     background: aliceblue;
     color: black;
     cursor: pointer;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
}

/*Slider card slide*/
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
  }


/* About Section */

.bottom{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.col-sm-4{
    height:250px;
    }

.heritage{
    background-image: url("heritage.jpg");
    background-size: cover;
    border-right: 5px solid #e8ecef;
}

.heritage .button{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:1px solid aliceblue;
    background: aliceblue;
    color: black;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
    transition: 0.09s ease-in-out;
}

.heritage .button:hover{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:1px solid aliceblue;
     background: black;
     color: aliceblue;
     cursor: pointer;
     padding-top: 7px;
     padding-bottom: 7px;
     padding-left: 13px;
     padding-right: 13px;
}

.technology{
    background-image: url("technology.jpg");
    background-size: cover;
    border-right: 5px solid #e8ecef;
}

.technology .button{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:1px solid aliceblue;
    background: aliceblue;
    color:black;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
    transition: 0.09s ease-in-out;
}

.technology .button:hover{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:1px solid aliceblue;
     background: black;
     color:aliceblue;
     cursor: pointer;
     padding-top: 7px;
     padding-bottom: 7px;
     padding-left: 13px;
     padding-right: 13px;
}

.experience{
    background-image: url("experience.jpeg");
    background-size: cover;
}

.experience .button{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:1px solid aliceblue;
    background: aliceblue;
    color: black;
    padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 10px;
     padding-right: 10px;
    transition: 0.09s ease-in-out;
}

.experience .button:hover{
    text-align: center;
    vertical-align:center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border:1px solid aliceblue;
     background: black;
     color: aliceblue;
     cursor: pointer;
     padding-top: 7px;
     padding-bottom: 7px;
     padding-left: 13px;
     padding-right: 13px;
}

/*Profile Card*/
.pro{
    margin-bottom:3%;
    border-bottom: 1px solid black;
}
/*Contact form*/
.form{
    background-image: url("form.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:400px;
}
.form h2{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.jumbotron .contactform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

input{
    width: 100%;
    height: 3em;
    margin: 20px 0;
    background:transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

#msg{
    margin-top: 30px;
}

::-webkit-input-placeholder{
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
}

.button{
    font-size: 20px;
    background-color:white;
    margin-top: 20px;
    border: 1px solid white;
    color:black;
    transition: .5s ease-in-out;
}

.button:hover{
    cursor: pointer;
    color: white;
    background-color: black;
    border: 1px solid white;
}



/*Map and style*/
.map{
    margin-left: 2%;
    margin-right: 2%;
}

/*Footer section*/
.footer{
    background-color: black;
    color: white;
}

#mybtn{
    position: relative;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.top{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px;
    font-size:18px;
    transition: 0.3s ease-in-out;
}

.top:hover{
    cursor: pointer;
    padding: 8px 10px;
    background-color: white;
    border: 1px solid white;
    color:black;
}

/*Responsive with media quaries */
@media only screen and (max-width: 768px){
    .heritage{
        border-bottom:5px solid #e8ecef;
    }
    .technology{
        border-bottom:5px solid #e8ecef;
    }
}

